@import "main-style.css";


main{
  display: grid;
  grid-template-areas:
  "art"
  "soc"
  "auth";
  color: #212121;
  padding: 10px 0px 0 0;
  justify-content: center;



}

main > article{
  grid-area: art;


}


main > article > * {
  padding: 0 10px;
}

article > header{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-blend-mode: hue;
  padding: 10px 0;
  margin: 0 0 20px 0;
}
article >header> h2{
  margin: 10px 0;
}
article > header > span{
  font-weight: 100;
  font-size: 12px;
}
article > figure{
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
}
article > section {
  margin: 80px 0 ;
}

#main-img{
  position: relative;
  width: 100%;
  object-fit: cover;
  max-height: 300px;;
}


main > hr{
  grid-area: hr;
}

#social-share-buttons{
  padding: 0 10px;
  grid-area: soc;

}

#social-share-buttons > ul{
  list-style: none;
  padding: 0px 10px;
  display: flex;
  justify-content: flex-start;
}

#social-share-buttons > ul > li {
  margin: 0 10px;
}

#social-share-buttons > ul > li > a{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  color: #FFFFF8;
  font-size: 25px;
  background: #00838F;
  border-radius: 50%;
}
hr{
  margin: 0 30px;
}

#author-info{
  grid-area: auth;
  display: flex;
  padding: 10px;
  flex-direction: column;
  color: #212121;
}
#author-info > p{
  margin: 0 0 15px 10px;
  font-size: 12px;
}

#author-info > .info-line{
  margin: 10px 0;
  font-size: 13px;
}
#avatar-name{
  display: flex;
  flex-direction: column;
  align-items: center;

}
#author-name{
  padding: 0px 10px;
  color: inherit;
  font-weight: bolder;
  font-size: 20px;

}

#author-avatar{
  height: 60px;
  width:60px;
  border-radius: 50%;
  background-color: black;
  overflow: hidden;
  object-fit: cover;
}


@media only screen and (min-width: 768px) {
  article{
    margin: 10px;
  }
  main{
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    " art art art art art art art art art auth auth auth auth auth "
    " soc soc soc soc soc soc soc soc soc . . . . . "
    ;


  }
  article > header{
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 10px;
  }

  article>header> span{
    padding: 0 10px;
  }

  article>figure> #main-img{
    border-radius: 5px;
  }
  #author-info{
    margin: 30px 10px 0 20px;
    padding: 10px;
    align-self: flex-start;
    justify-self: center;
    background-color: #212121;
    border-radius: 5px;
    color: #ABABAB;
    box-shadow: 0 0 10px black;
  }

  .info-line > b {
    color: #FFFFF8;
  }



  #avatar-name{
    justify-content: center;
    color: #FFFFF8;
  }

  #author-avatar{
    height: 80px;
    width: 80px;
  }
  #author-name{
    text-align: center;
  }


}

@media only screen and (min-width: 1024px) {

  main{
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    ". art art art art art art art art art auth auth auth auth auth ."
    ". soc soc soc soc soc soc soc soc soc . . . . . ."
    ;
  }

    #social-share-buttons > ul > li > a{
      position: relative;
      background: transparent;
      color: #00838F;
      border: #00838F solid 2px;
      overflow: hidden;
      z-index: 10;
      transition: all 0.3s ease-in;
    }
    #social-share-buttons > ul > li > a::before{
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-radius: 50%;
      background: #00838F;
      transition: all 0.4s ease-in;
      z-index: -1;

    }
    #social-share-buttons > ul > li > a:hover{
      color: #FFFFF8;

    }
    #social-share-buttons > ul > li > a:hover::before{
      width: 200%;
      height: 200%;
    }
}
