blockquote{
  display: flex;
  flex-direction: column;
  font-weight: lighter;
  background-color: #212121;
  color: #FFFFF8;
  padding: 10px 10px 10px 30px;
  border-radius: 5px;
  border-left: #8f0083 solid 4px;
  box-shadow: 0 0 10px black;
}



blockquote> footer{
  display: block;
  height: auto;
  margin-left: auto;
}
em{
  color: #8f0083;
  font-weight: bolder;
  font-size: 17px;
}

figcaption{
  padding: 0 10px;
  font-size: 12px;
  font-weight: lighter;
}

a{
  text-decoration: none;
  letter-spacing: 1px;
}

p{
  letter-spacing: 1px;
  text-align: justify;
  line-height: 20px;

}
