@import url('https://fonts.googleapis.com/css?family=Vibes&display=swap');
#blog-header{
  position: sticky;
  top:0;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0px rgba(0,0,0,1);
  background: #FFFFFF;
  grid-area: hd;
  z-index: 5;

  padding: 5px 10px;
  border-bottom: #BDBDBD solid 1px;
}

#hamburger-menu{
  font-size: 20px;
  color: #424242;

}

#blog-header > h1{

  padding-left: 10px;
  color: #00838F;
  font-family: 'Vibes', cursive;
  margin: 0;
  letter-spacing: 3px;
}

#main-nav{
  padding: 0;
  left: -100vw;
  position: absolute;
  top:0px;
  background-color: #FFFFFF;
  transition: all 0.7s;
  border-radius: 5px;

}
#black-screen{

  position: absolute;
  top:0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0, 0.5);
  z-index: 0;
  display: none;
}
#main-nav:target{
  left:0;
  box-shadow: 0px 2px 7px #424242;
  z-index: 10;
}
#main-nav:target + #black-screen{
  display: block;
}

#nav-list{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;

}

#nav-list >li{
  border-bottom: #E0E0E0 solid 1px;

}
#nav-list > li a{
  color: #212121;
  padding: 5px 0px;
}
#nav-list > li:first-child{
  margin-left: auto;
  margin-right: 20px;
  border-bottom: none;
  font-size: 30px;
}



#main-nav li a{
  font-family: sans-serif;
  display: flex;

  justify-content: center;
  align-content: center;


}

#nav-list > li:last-child a{
  color: #fffff8;
  background-color: #00838F;
  border-bottom: none;
  border-radius: 5px;
}


@media only screen and (min-width: 768px) {

  #hamburger-menu{
    display: none;
  }
  #blog-header{
    flex-direction: column;
    justify-content: center;
  }
  #blog-header > h1{
    padding: 0;
  }

  #main-nav{
    position: static;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #nav-list{
    flex-direction: row;
    width: 100%;
    align-items: center;
  }
  #close-main-menu-button{
    display: none;
  }
  #nav-list > li{
    border-bottom: none;

  }
  #nav-list > li a{
    padding: 5px 10px;

  }
  #nav-list> li:last-child{
    margin-left: auto;
  }
}

@media only screen and (min-width:1024px){
  #blog-header{
    flex-direction: row;
    justify-content: space-between;

  }
  #blog-header > h1{
    margin-left: 25vw;
    transform: translateX(-50%);
  }
  #main-nav{
    width: 45%;
  }



  #nav-list> li a{
    transition: all 0.3s ease-in;
  }

  #nav-list > li a:hover{
    transform: translateY(-3px);
    color: #00838F;
  }

  #nav-list> li:last-child a {
    position: relative;
    background-color: transparent;
    color: #00838F;
    padding: 5px 20px;
    border: #00838F solid 2px;
    transform: none;
    z-index: 0;
    overflow: hidden;

  }
  #nav-list> li:last-child a:hover{
    color: #FFFFF8;
  }

  #nav-list> li:last-child a::after{
    position: absolute;
    content: "";
    background-color: #00838F;
    border-radius: 50%;
    height: 0;
    width: 0;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in;
   z-index: -1;
  }

  /* Subscribe button circular background animation */

  #nav-list>li:last-child a:hover::after{
    height: 300px;
    width: 300px;
  }


}
