@import "header.css";
@import "footer.css";

*{
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  position: relative;
  margin: 0;
  display: grid;
  grid-auto-rows: auto;
  grid-template-areas:
  "hd"
  "mn"
  "ft";

}
em{
  color: #8f0083;
}

figcaption{
  padding: 0 10px;
  font-size: 12px;
}

a{
  text-decoration: none;
}

main{
  padding: 40px 40px ;
  position: relative;
  background: #FFFFFF url("../imgs/landscape-background.svg") center/cover fixed;
  box-shadow: 0 5px 30px #000000;
  min-height: 100vh;

}

p{
  letter-spacing: 1px;
  
}
