@import "header.css";
@import "index-main.css";

*{
  box-sizing: border-box;
}
body{
  background-color: #FFFFFF;
  margin: 0;
  display: grid;
  grid-auto-rows: auto;
  grid-template-areas:
  "hd"
  "mn"
  "ft";

}



#background-decoration-01{
  position: absolute;
  height: 60%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #EEEEEE;
  z-index: -5;
  transform: skewY(-10deg) translateY(-8.8vw);
}

#background-decoration-02{
  position: absolute;
  height: 60%;
  width: 100%;
  top:60%;
  left: 0;
  z-index: -4;
  background-color: #FAFAFA;
  transform: skewY(10deg) translateY(-4.375vw);
  opacity: 0.7;
}


footer{
  position: sticky;
  bottom:0;
  grid-area: ft;
  width: 100vw;
  background: #212121;
  z-index: -20;
  color: #FFFFF8;
  padding:17.6vw 0;
  transform: scaleY(8.8vw);

}
