@import "header.css";
@import "index-main.css";

*{
  box-sizing: border-box;
}
body{
  position: relative;
  background-color: #FFFFFF;
  margin: 0;
  display: grid;
  grid-auto-rows: auto;
  grid-template-areas:
  "hd"
  "mn"
  "ft";

}



#background-decoration-01{
  position: absolute;
  height: 50%;
  width: 100%;
  left: 0;
  background-color: #E0E0E0;
  z-index: -5;
  transform: skewY(-20deg) translateY(-18.2vw);
}

#background-decoration-02{
  position: absolute;
  height: 50%;
  width: 100%;
  top: 50%;
  left: 0;
  z-index: -4;
  background-color: #EEEEEE;
  transform: skewY(20deg) translateY(-18.2vw) ;
  opacity: 0.7;
}


footer{

  bottom:0;
  grid-area: ft;
  width: 100vw;
  background: #212121;
  color: #FFFFF8;
  height: 50px;

}
