@import "header.css";
@import "index-main.css";

*{
  box-sizing: border-box;
}
body{
  background-color: #FFFFFF;
  margin: 0;
  display: grid;
  grid-auto-rows: auto;
  grid-template-areas:
  "hd"
  "mn"
  "ft";

}



#background-decoration{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #F5F5F5;
  z-index: -1;
--  transform: skewY(-5deg) translateY(-4.375vw);
}


footer{
  position: sticky;
  bottom:0;
  grid-area: ft;
  width: 100vw;
  background: #212121;
  z-index: -20;
  color: #FFFFF8;
  padding:17.6vw 0;
  transform: scaleY(8.8vw);

}
